
body {
	padding-top: 20px;
	padding-bottom: 40px;
}

      /* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow > hr {
	margin: 30px 0;
}

      /* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
#info{
	display: block;
	width: 150px;
	padding: 10px 15px;
	background-color: #444;
	color: #efefef;
	border-radius: 4px 0  0 4px;
	position: fixed;
	top: 120px;
	right: 0px;
	opacity: 0.9;
	z-index: 10000;
}


#info span{
	font-weight: bold;
}
#info p{
	color:red;
	text-shadow: 0 0 10px #fff;
}
#info .active{
	color:#7FFF00;
	text-shadow:none;
}